
@font-face {
    font-family: "webSymbolsRegular";
    src: url('fonts/websymbols-regular-webfont.eot');
    src: url('fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/websymbols-regular-webfont.woff') format('woff'),
         url('fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('fonts/websymbols-regular-webfont.svg#webSymbolsRegular') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
#container{
    display: flex;
}

.img1{
    margin-left: 50px;
    margin-top: 45px;
    width: 15%;
}

#header{
    background-image: url("../img/bg-hero-desktop.svg");
    width: 100%;
    height: 680px
    
}

#header .button {
  display: block;
  width: 12%;
  height: 30px;
  float: right;
  margin-right: 50px;
  margin-top: 45px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  border-width: 40px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 0px 5px rgb(167, 167, 167);
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  color: black;
  justify-content: center;
}

#header .button:hover{
    background-color: hsl(322deg 99% 66%);
    color: white;
    transition: all 300ms;
    
}
#header .text{
    display: flex;
    margin-top: 150px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#header .text h2{
    font-size: 43px;
    color: hsl(193deg 78% 11%);
    padding-right: 20px;
    width: 80%;
    line-height: 50px;

}
#header .text p{
    font-size: 20px;
    color: hsl(193deg 78% 11%);
    padding-right: 40px;
    width: 90%;
    line-height: 30px;
  
}
#header .img2{
    margin-top: -50px;
    margin-right: 40px;
    width: 50%;

}
.button2{
    display: block;
    width: 50%;
    height: 40px;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    background-color: hsl(322deg 99% 66%);
    color: white;
    border-width: 40px;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0px 0px 5px rgb(167, 167, 167);
    
    
}
.button2:hover{
    background-color: white;
    color:black;
    transition: all 300ms;
}
#content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#section1{
    margin-top:10%;
}
#section1, #section2{
   display: inline-flex;
   justify-content: center;
   width: 93%;
   height: 200px;
   box-shadow:0px 0px 5px rgb(207, 207, 207) ;
   height: 470px;
   border-radius: 20px;
   cursor: pointer;
   margin-bottom: 25px;
  
}

#section1 .text3,
#section2 .text3{
    width: 50%;
    padding-left: 100px;
    justify-content: center;
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
#section1 .text3 h3,
#section2 .text3 h3{
    
    font-weight: bold;
    font-size: 30px;
    color:hsl(191deg 51% 15%);
}
#section1 .text3 p,
#section2 .text3 p{
    color: rgb(146, 146, 146);
    font-size: 18px;
    width: 82%;
}

#section1 .img3,
#section2 .img3{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#section1 .img3 img,
#section2 .img3 img{
   width:75%;
   height:auto; 
  
}
#section1:hover,
#section2:hover {
    box-shadow: 0px 0px 10px hsl(322deg 99% 66%);
    transition: all 300ms;
}
#section1:hover .text3 p,
#section2:hover .text3 p{
    color: hsl(191deg 51% 15%);
}
#footer{
    display: flex;
    width: 100%;
    height: 500px;
    background-color: hsl(192deg 100% 9%);
    margin-top: 30% ;
    flex-direction:column;

}
 
#footer .box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction:column;
    width: 60%;
    height:280px;
    box-shadow:0px 0px 5px  hsl(0, 0%, 56%);
    border-radius: 15px;
    background-color: white;
    margin-top: -14%;
    margin-bottom: 7%;
}
#footer .box h2{
    width: 100%;
    color: hsl(191deg 51% 15%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px;
}
#footer .box .button3{
    width: 52%;
    height: 52px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 27px;
    text-decoration: none;
    background-color: hsl(322deg 99% 66%);
    color: white;
    border-width: 40px;
    font-weight: bold;
    border-radius: 40px;
    box-shadow: 0px 8px 8px rgb(199, 199, 199);
    font-size: 20px;
    letter-spacing: 0.1px;
    margin-top: 15px;
}
#footer .box .button3:hover{
    box-shadow: 0px 0px 10px #ccc;
    background-color: white;
    color:hsl(191deg 51% 15%);
    transition: all 300ms;
}
#footer ul{
    list-style: none;
    line-height: 20px;}
#footer ul li a{
    display: block;
    padding-left: 40px;
    color: hsl(195deg 37% 87%);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}   
#footer #information {
    display:inline-flex;
    justify-content: center;
    gap: 0px;
    color: white;
    text-decoration: none;
   
}
#footer #information .info1{
    width: 25%;
}

#footer #information .info1 ul>li>img{
    display: block;
    float: left;
    margin-right: 20px;
    height: 17px;
   
}
#footer #information .info2{
    width: 20%;
}
#footer #information .info2 ul li{ 
    height: 35px;
}
#footer #information .info3{
    width: 20% ;
    
}
#footer #information .info3 ul li{
    
    height: 35px;
}
#footer #information .info4{
    width: 25% ;
   
}
#footer #information .info4{
    
    height: 35px;
}









   
